.App,
.App__Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App__Login--content {
    padding: 20px;
    border: 1px solid lightgrey;
    width: 300px;
}

.App {
    flex-direction: column;
}

.App__header {
    position: fixed;
    padding: 20px;
    top: 0;
    width: calc(100% - 40px);
}

.App__header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.App__header > nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.App__header > nav > div > a {
    margin-left: 20px;
}